div{
    border:3px solid rgb(49, 3, 3);
    padding: 1em;
    position: fixed;
    top:20px;
    width: 200px;
    height: 100px;
    margin-top: 13%;
    margin-left: 25%;
}


#capa1{
    left: 50px;

}

#capa2{
    left: 400px;
}